<h1> Listing Users </h1>
<table class="table">
  <%= for user <- @users do %>
    <tr>
      <td>
        <%= render "user.html", user: user %>
      </td>
      <td>
        <%= link "View", to: user_path(@conn, :show, user.id)%>
      </td>
    </tr>
  <% end %>
</table>
