<h1 class="text-center"> New User </h1>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>
      Oops, something went wrong! Please check the errors below.
    </p>
  </div>
<% end %>
<div class="col-md-offset-3 col-md-6">
  <%= form_for @changeset, user_path(@conn, :create), fn f -> %>
    <div class="form-group">
      <%= text_input f, :name, placeholder: "Name", class: "form-control" %>
      <%= error_tag f, :name %>
    </div>
    <div class="form-group">
      <%= text_input f,
        :username,
        placeholder: "Username",
        class: "form-control" %>
        <%= error_tag f, :username %>
    </div>
    <div class="form-group">
      <%= password_input f,
        :password,
        placeholder: "Password",
        class: "form-control" %>
        <%= error_tag f, :password %>
    </div>
    <%= submit "Create User", class: "btn btn-primary" %>
</div>
<% end %>
